{{ partial "site_header.html" . }}
<article>
<div class="container">
  <div class="sub-contents contents-table">
    <h1>練習日程</h1>
    <table>
      <tr><td>11/11</td><td>SAT</td><td>OFF</td></tr>
      <tr><td>11/12</td><td>SUN</td><td>新人戦＠市大Ｇ<br>vs奈良教育大学 10:00～</td></tr>
      <tr><td>11/13</td><td>MON</td><td>午後練</td></tr>
      <tr><td>11/14</td><td>TUE</td><td>午前練</td></tr>
      <tr><td>11/15</td><td>WED</td><td>午後練</td></tr>
      <tr><td>11/16</td><td>WHU</td><td>午後練</td></tr>
      <tr><td>11/17</td><td>FRI</td><td>午前練</td></tr>
      <tr><td>11/18</td><td>SAT</td><td>新人戦＠市大Ｇ<br>対戦相手未定 10:00～</td></tr>
      <tr><td>11/19</td><td>SUN</td><td>新人戦＠市大Ｇ<br>対戦相手未定 13:00～</td></tr>
      <tr><td>11/20</td><td>MON</td><td>午後練</td></tr>
      <tr><td>11/21</td><td>TUE</td><td>午前練</td></tr>
      <tr><td>11/22</td><td>WED</td><td>午後練</td></tr>
      <tr><td>11/23</td><td>WHU</td><td>午後練</td></tr>
      <tr><td>11/24</td><td>FRI</td><td>午前練</td></tr>
      <tr><td>11/25</td><td>SAT</td><td></td></tr>
      <tr><td>11/26</td><td>SUN</td><td></td></tr>
      <tr><td>11/27</td><td>MON</td><td></td></tr>
      <tr><td>11/28</td><td>TUE</td><td></td></tr>
      <tr><td>11/29</td><td>WED</td><td></td></tr>
      <tr><td>11/30</td><td>WHU</td><td></td></tr>
    </table>
  </div>
  <div class="main-contents main-contents--background main-contents--with-sub">
    <div class="contents">
      <div class="contents__item contents__item--no-padding">
        <h1>更新履歴</h1>
        <p>
          関西地区第２代表決定戦準決勝対天理大学戦の試合結果を更新致しました！<br>
          <a href="">&gt;&gt;詳細はこちら</a>
        </p>
        <p>
          2017年新人戦1回戦対奈良教育大学戦の試合結果を更新致しました!<br>
          <a href="">&gt;&gt;詳細はこちら</a>
        </p>
        <p>
          関西地区第１代表決定戦１回戦対天理大学戦の試合結果を更新致しました！<br>
          <a href="">&gt;&gt;詳細はこちら</a>
        </p>
        <p class="item--right">
          11/14更新<br>
          (試合情報の速報は掲示板をご覧ください。)
        </p>
      </div>
    </div>
    <hr>
    <div class="contents">
      <div class="contents__item">
      </div>
    </div>
  </div>
</div>
</article>
{{ partial "site_footer.html" . }}
