{{ partial "site_header.html" . }}
<article>
  <div class="container">
    <div class="main-contents contents-table">
      <h1>大阪市立大学 硬式野球部</h1>
      <div class="contents">
        <div class="contents__item contents__item--border contents__item--half-width">
          <img></img>
        </div>
        <div class="contents__item contents__item--border contents__item--half-width">
          <a href="">近畿学生野球連盟</a>に所属<br>
          1916年(大正5年)、大阪高等商業学校当時に創部。<br>
          翌年の1917年に編成された関西学生野球連盟に加盟。<br>
          その後関西地区の激しいリーグ改再編が行われたが、動くことなく留まり、現・近畿学生野球連盟のオリジナルチームである。<br>
          <br>
          2017年春現在の部員数は、選手48名・マネージャー6名の計54名。<br>
          全員で力を合わせ、リーグ戦に向け、日々練習に取り組んでいます！！<br>
        </div>
      </div>

      <h1>戦績</h1>
      <table>
        <tr><th>リーグ戦</th><th>勝敗数</th><th>順位</th><th>備考欄</th></tr>
        <tr><td>2017年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">7勝6敗<br>勝ち点2</td>    <td class="contents-table__td--center">5位</td><td>一塁手/外野手ベストナイン獲得</td></tr>
        <tr><td>2016年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">4勝8敗1分<br>勝ち点2</td> <td class="contents-table__td--center">5位</td><td>二塁手/外野手ベストナイン獲得</td></tr>
        <tr><td>2016年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">4勝9敗<br>勝ち点1</td>    <td class="contents-table__td--center">5位</td><td></td></tr>
        <tr><td>2015年<br>Ⅱ部秋季リーグ戦</td><td class="contents-table__td--center">6勝2敗2分</td>            <td class="contents-table__td--center">1位<br>Ⅰ部昇格</td><td>三塁手/遊撃手ベストナイン獲得</td></tr>
        <tr><td>2015年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">1勝10敗<br>勝ち点0</td>   <td class="contents-table__td--center">6位<br>Ⅱ部降格</td><td>外野手ベストナイン獲得</td></tr>
        <tr><td>2014年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">6勝4敗<br>勝ち点3</td>    <td class="contents-table__td--center">2位</td><td>投手/三塁手/外野手2名/指名打者ベストナイン獲得</td></tr>
        <tr><td>2014年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">5勝7敗<br>勝ち点2</td>    <td class="contents-table__td--center">5位</td><td>三塁手/外野手ベストナイン獲得</td></tr>
        <tr><td>2013年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">5勝7敗<br>勝ち点2</td>    <td class="contents-table__td--center">4位</td><td>二塁手ベストナイン獲得</td></tr>
        <tr><td>2013年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">6勝5敗<br>勝ち点3</td>    <td class="contents-table__td--center">2位</td><td></td></tr>
        <tr><td>2012年<br>Ⅱ部秋季リーグ戦</td><td class="contents-table__td--center">7勝2敗1分</td>            <td class="contents-table__td--center">Ⅱ部優勝<br>Ⅰ部昇格</td><td>一塁手ベストナイン獲得</td></tr>
        <tr><td>2012年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">2勝10敗1分<br>勝ち点0</td><td class="contents-table__td--center">6位<br>Ⅱ部降格</td><td>外野手ベストナイン獲得</td></tr>
        <tr><td>2011年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">6勝8敗<br>勝ち点2</td>    <td class="contents-table__td--center">5位</td><td>捕手ベストナイン獲得</td></tr>
        <tr><td>2011年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">4勝6敗<br>勝ち点2</td>    <td class="contents-table__td--center">4位</td><td>首位打者/捕手/遊撃手/外野手ベストナイン獲得</td></tr>
        <tr><td>2010年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">7勝5敗<br>勝ち点3</td>    <td class="contents-table__td--center">3位</td><td>首位打者/最優秀投手/敢闘賞/遊撃手/外野手ベストナイン獲得</td></tr>
        <tr><td>2010年<br>Ⅰ部春季リーグ戦</td><td class="contents-table__td--center">7勝6敗<br>勝ち点3</td>    <td class="contents-table__td--center">4位</td><td>捕手/一塁手/遊撃手/外野手/指名打者ベストナイン獲得</td></tr>
        <tr><td>2009年<br>Ⅰ部秋季リーグ戦</td><td class="contents-table__td--center">3勝8敗1分<br>勝ち点1</td> <td class="contents-table__td--center">5位</td><td>一塁手/三塁手ベストナイン獲得</td></tr>
      </table>

      <h1>メンバー紹介</h1>
      <ul>
      {{ range .Pages }}
        <li> <div><a href="{{ .Permalink }}">{{ .Title }}</a></div> </li>
      {{ end }}
      </ul>
    </div>
  </div>
</article>
{{ partial "site_footer.html" . }}

